.ttt-payment-methods {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.ttt-payment-form {
  position: relative;
  background-color: white;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
}
