// TODO: do something with the radius stuff after some thought
.border-radius.top {
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: none;
}

.border-radius.bottom {
  border-radius: 0 0 0.25rem 0.25rem;
}

.border-radius.bottom.left {
  border-bottom-right-radius: 0;
}

.border-radius.bottom.right {
  border-bottom-left-radius: 0;
  border-left: none;
}

.ttt-card-cvc-input-container,
.ttt-card-expiry-input-container {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
}

.ttt-card-cvc-input,
.ttt-card-expiry-input {
  width: 100%;
  box-sizing: border-box;
}
