body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

:root {
  --btn-bg-color: rgb(2, 86, 161);
  --btn-bg-color-hover: rgb(0, 66, 141);
  --btn-shadow-color: rgb(0, 66, 127);
}

.d-block {
  display: block;
}

.form-group {
  margin-bottom: 1rem;
}

.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Style the tab */
div.tabs {
  background-color: transparent;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

input {
  font-size: 1rem;
  padding: 0.75rem;
  border: solid 1px rgb(234, 234, 234);
  background-color: rgb(250, 250, 250);
}

.input-default {
  box-shadow: inset 0 0.1rem 0.25rem rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}

input.form-control {
  width: 100%;
  box-sizing: border-box;
}

/* Style the buttons inside the tab */
div.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  transition: 0.1s;
  box-shadow: none;
  padding: 0.75rem 1.5rem;
}

button {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.75rem 6rem;
  transition: 0.1s;
  border: none;
}

button.btn-default {
  background-color: var(--btn-bg-color);
  color: white;
  box-shadow: 0 0.15rem 0 var(--btn-shadow-color), 0 0.25rem 0.1rem rgba(0, 0, 0, 0.25);
}

button.btn-default:active {
  transform: translateY(0.15rem);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

button.btn-default:hover {
  background-color: var(--btn-bg-color-hover);
}

div.tabs button.active {
  color: var(--btn-bg-color);
  background-color: white;
}

div.tabs button.inactive {
  color: white;
  background-color: var(--btn-bg-color);
}

div.tabs button.inactive:hover {
  background-color: rgb(0, 66, 141);
}

div.tabs :not(:first-child) {
  margin-left: 0.15rem;
}

div.tabs button {
  border-radius: 0.25rem 0.25rem 0 0;
}

.content-column {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .content-column {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    margin-left: 16.66667%;
  }
}

@media (min-width: 768px) {
  .content-column {
    margin-left: 25%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
