.ttt-payments-page {
  flex: 1;
  transition: background-color 1s;
}

.ttt-payments {
  margin: 1rem;
}

.ttt-payment-methods {
  position: relative;
  padding: 1rem;
  background-color: white;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.bg-blue {
  background-color: rgb(2, 106, 177);
  background-image: radial-gradient(circle at center, rgb(85, 155, 217) 0, rgb(2, 106, 177) 100%);
}

.bg-white {
  background-color: white;
}
